body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  font-family: "Arial", sans-serif;
}
body {
  background-color: #f9f9f9;
  color: #333;
  font-family: "Arial", sans-serif;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li.completed {
  background-color: #c5e1a5;
  text-decoration: line-through;
}

li .task-text {
  flex: 1;
  margin-left: 10px;
  cursor: pointer;
}

.delete-btn,
.edit-btn {
  font-size: 18px;
  color: #dc3545;
  cursor: pointer;
  transition: color 0.3s;
}

.edit-btn {
  color: #007bff;
  margin-left: 5px;
}

.edit-btn:hover,
.delete-btn:hover {
  color: #c2185b;
}
